.scene-wrapper {
	background-image: url('/starting-soon.png');
	background-position: center;
	background-size: cover;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}
