* {
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;
}

html,
body,
#__next {
	height: 2160px;
	margin: 0;
	max-height: 2160px;
	max-width: 3840px;
	min-height: 2160px;
	min-width: 3840px;
	overflow: hidden;
	padding: 0;
	width: 3840px;
}

html {
	background-color: var(--chroma-color);
	color: var(--text-color);
	font-family: var(--font-main);
}

body {
	font-size: var(--font-size);
}
